[submodule "api-gateway"]
	path = cloud/api-gateway
	url = https://github.com/marouanedbibih/Idirtrack-api-gateway
[submodule "discovery"]
	path = cloud/discovery
	url = https://github.com/marouanedbibih/Idirtrack-discovery
[submodule "config-server"]
	path = cloud/config-server
	url = https://github.com/marouanedbibih/Idirtrack-config-server
[submodule "user-service"]
	path = microservices/user-service
	url = https://github.com/marouanedbibih/Idirtrack-user-service
[submodule "stock-service"]
	path = microservices/stock-service
	url = https://github.com/marouanedbibih/Idirtrack-stock-service
[submodule "vehicle-service"]
	path = microservices/vehicle-service
	url = https://github.com/marouanedbibih/Idirtrack-vehicle-service
[submodule "web-app"]
	path = web-app
	url = https://github.com/marouanedbibih/Idirtrack-web-app
